unit1/.idea/
unit1/cmake-build-debug/
unit1/.DS_Store
unit2/.idea/
unit2/cmake-build-debug/
unit2/.DS_Store
unit3/.idea/
unit3/cmake-build-debug/
unit3/.DS_Store
unit4/.idea/
unit4/cmake-build-debug/
unit4/.DS_Store
unit5/.idea/
unit5/cmake-build-debug/
unit5/.DS_Store
unit6/.idea/
unit6/cmake-build-debug/
unit6/.DS_Store
.vscode/
.idea/
.DS_Store
